<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="id_userService" class="UserServiceImpl" lazy-init="true">
        <property name="userDao" ref="id_userDao"/>
    </bean>

    <bean id="id_userDao" class="UserDaoImpl" lazy-init="true"></bean>


    <bean id="id_student" class="Student" lazy-init="true">

        <property name="age" value="12"/>
        <property name="sex" value="women"/>
        <property name="username" value="xiaoming"/>
        <property name="flag" value="false"/>
        <property name="teacher" ref="id_teacher"/>

        <property name="courses">
            <list>
                <value>english</value>
                <value>math</value>
                <value>music</value>
            </list>
        </property>

        <property name="hashMap">
            <map>
                <entry key="key1" value="value1"/>
                <entry key="key2" value="value2"/>
            </map>
        </property>
    </bean>

    <bean id="id_honors" class="Honors" lazy-init="true">
        <property name="honors">
            <list>
                <value>百团大战突击手</value>
                <value>世界黑客大赛冠军</value>
            </list>
        </property>
    </bean>


    <bean name="id_teacher" class="Teacher" lazy-init="true">
        <constructor-arg name="age" value="45"/>
        <constructor-arg name="name" value="xiaofang"/>
        <constructor-arg name="honor" value="#{id_honors.honors.get(0)}"/>
    </bean>
</beans>