<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean> <!--根据<bean>的name属性来进行匹配-->


    <bean id="id_parameterMethodName"
          class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
        <property name="paramName" value="option"/>
    </bean>


    <bean name="/OrgController" class="com.itszt.controller.MulController">
    <property name="methodNameResolver" ref="id_parameterMethodName"/>
    </bean>


    <!--<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
        <!--<property name="mappings">-->
            <!--<props>-->
                <!--<prop key="/OrgController">id_orgController</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="id_orgController" class="com.itszt.controller.MulController">-->
        <!--<property name="methodNameResolver" ref="id_parameterMethodName"/>-->
    <!--</bean>-->


    <bean name="/TestController" class="com.itszt.controller.SingleController"></bean>


</beans>